/* common - layout */
h2 {
  font-weight: 700;
  line-height: 1.2;
}
span.point-txt-color {
  background: linear-gradient(90deg, #0598df 0%, #06c3ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
section:not(#main-section, #slide-section, #sub-banner) {
  padding: 57px 20px 50px 20px;
  box-sizing: border-box;
}

/* common - detail */
.description h3.section-tit {
  font-size: 13px;
  padding-left: 21px;
  background: url(../images/icons/learning-icon.svg) no-repeat left center / auto 18px;
  color: #1acaa4;
  height: 18px;
  line-height: 18px;
  font-weight: 700;
}
.description h2 {
  font-size: 32px;
  color: #393939;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 17px;
}
.description p {
  font-size: 15px;
  color: #595959;
  margin-bottom: 32px;
  line-height: 1.25;
}
.description .more {
  font-size: 12px;
  font-weight: 700;
  color: #1acaa4;
  padding: 11px 30px 11px 18px;
  border: 2px solid #1acaa4;
  border-radius: 100px;
  background: url(../images/icons/button-more-icon.svg) #fff no-repeat right 15px center / 10px auto;
  box-shadow: 0px 4px 10px rgba(26, 202, 142, 0.2);
}
.img-container > div {
  border-radius: 24px;
  overflow: hidden;
  text-align: center;
  background: #eee;
}
.img-container p {
  text-align: left;
  width: 100%;
  max-width: 298px;
  display: inline-block;
  line-height: 1.2;
}
.img-container img {
}

header {
  height: 81px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 36px;
  box-sizing: border-box;
}
header > div {
  display: flex;
  height: 100%;
  align-items: center;
}
header .logo {
}
header .logo img {
  height: 28px;
}

/* section1 - main */
#main-section {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.3) 2.01%, rgba(11, 217, 164, 0.3) 100%);
  padding-top: 141px;
  position: relative;
  z-index: 1;
  margin-bottom: 51px;
}
#main-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(360deg, #ffffff 2.68%, rgba(255, 255, 255, 0) 101.51%);
  z-index: -1;
}
#main-section h2 {
  font-size: 35px;
  text-align: center;
}

#main-section h2 br {
}
#main-section article {
  margin-top: 50px;
  width: 100%;
}
#main-section article > img {
  width: 73.67%;
  margin: auto;
  display: block;
}
#main-section .main-category {
  width: 90.33%;
  max-width: 888px;
  margin: auto;
  padding: 13px 15px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 10px rgba(97, 202, 202, 0.2);
  border-radius: 38px;
  background: #ffffff;
  border: 2px solid #99e1e2;
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-25px);
}
#main-section .main-category li {
  flex: 1 1 40%;
}
#main-section .main-category li:nth-of-type(1),
#main-section .main-category li:nth-of-type(2) {
  border-bottom: 1px solid rgba(140, 221, 223, 0.5);
}
#main-section .main-category li:nth-of-type(1),
#main-section .main-category li:nth-of-type(3) {
  border-right: 1px solid rgba(140, 221, 223, 0.5);
}
#main-section .main-category li a {
  display: block;
  color: #393939;
  font-size: 15px;
  font-weight: 700;
  padding-top: 55px;
  padding-bottom: 15px;
  text-align: center;
}

/* section2 - slider */
#slide-section {
  overflow: hidden;
  padding-top: 0;
  max-height: 500px;
}
#slide-section .swiper-slide {
  background: rgba(213, 244, 244, 0.3);
  padding: 57px 4.83% 40px 4.83%;
  /* 15.21 */
  box-sizing: border-box;
}
#slide-section .swiper-slide article {
  width: 100%;
  max-width: 1231px;
  margin: auto;
}
#slide-section .swiper-slide article h2 {
  font-size: 25px;
}
#slide-section .swiper-slide article .user-value {
  width: 288px;
  height: 278px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 62px;
  margin-left: auto;
  margin-right: max(0%, 5%);
}
#slide-section .swiper-slide article .user-value li {
  font-size: 12px;
  color: #717171;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #fff url("../images/icons/plus-icon.svg") no-repeat top 21px right 28px / 16px auto;
  border: 1px solid rgba(153, 225, 226, 0.5);
  box-shadow: 0px 6px 20px 8px rgba(219, 244, 247, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#slide-section .swiper-slide article .user-value li > div {
  line-height: 1.6;
}
#slide-section .swiper-slide article .user-value li b {
  font-size: 30px;
  font-weight: 700;
  color: #393939;
  vertical-align: baseline;
  margin-right: 7px;
}
#slide-section .swiper-slide article .user-value li p {
  font-size: 13px;
  color: #8f8f8f;
}
#slide-section .swiper-slide.slide-2 {
  background: red;
}
#slide-section .swiper-slide.slide-3 {
  background: blue;
}

/* 학습 */
#learning-section .img-container {
  margin-top: 85px;
  max-width: 843px;
}

/* 성과 커리어 */
#career-section {
  position: relative;
  z-index: 1;
}
#career-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 510px;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(169, 217, 254, 0) 2.01%, rgba(169, 217, 254, 0.1) 69.45%, rgba(11, 217, 164, 0.1) 100%);
  z-index: -1;
}
#career-section .img-container {
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 46px;
}
#career-section .img-container .img-item-1 {
  background: linear-gradient(40.46deg, #9ae6d3 10.47%, #d0fad8 94.96%);
  border: 1px solid #b4dfc2;
  margin-bottom: 27px;
}
#career-section .img-container .img-item-1 p {
  padding-top: 39px;
  padding-bottom: 30px;
}
#career-section .img-container .img-item-2 {
  background: linear-gradient(160.84deg, #f3f3f3 -3.69%, #b0b0b0 104.15%);
  border: 1px solid #e2e2e2;
  height: 512px;
}
#career-section .img-container .img-item-2 p {
  padding-top: 45px;
  padding-bottom: 70px;
}
#career-section .img-container .img-item-2 img {
  width: 274px;
}

/* 채용 온보딩 */
#recruit-section {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.1) 2.01%, rgba(11, 217, 164, 0.1) 100%);
}
#recruit-section .img-container {
  margin-top: 50px;
}
#recruit-section .bg-mockup {
  display: none;
}

/* 인사운영 */
#management-section .img-container {
  margin-top: 42px;
}
#management-section .img-container .img-item-1 {
  background: #98f0e6;
  color: #393939;
  height: 385px;
}
#management-section .img-container .img-item-1 img {
  width: 274px;
}
#management-section .img-container .img-item-1 p {
  padding: 52px 0;
}
#management-section .img-container .img-item-2 {
  background: #777777;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 47px 0;
  margin-top: 27px;
  margin-bottom: 16px;
}
#management-section .img-container .img-item-3 {
  background: linear-gradient(30.02deg, #9c9ae6 -13.65%, #96d1ff 97.66%);
}
#management-section .img-container .img-item-3 p {
  padding-top: 34px;
  padding-bottom: 30px;
}

/* sub-banner */
#sub-banner {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.9) 2.01%, rgba(11, 217, 164, 0.9) 100%);
  font-size: 35px;
  color: #fff;
  padding: 142px 0;
  text-align: center;
}

/* 코너스톤으로 전향해야 할 */
#why-use-cornerstone h2 {
  font-size: 38px;
  line-height: 1.3;
}
#why-use-cornerstone .img-container {
  margin-top: 31px;
}
#why-use-cornerstone .img-container > div {
  padding-top: 35px;
  margin-bottom: 26px;
}
#why-use-cornerstone .img-container > div i {
  font-size: 13px;
  color: #717171;
  display: inline-block;
  width: 100%;
  max-width: 298px;
  text-align: left;
}
#why-use-cornerstone .img-container > div p {
  font-size: 18px;
  color: #393939;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 40px;
  display: inline-block;
}
#why-use-cornerstone .img-container > div img {
  width: 281px;
}
#why-use-cornerstone .img-item-1 {
  background: #e0f7ee;
  border: 1px solid #bef1dc;
}
#why-use-cornerstone .img-item-2 {
  background: #f2ffd6;
  border: 1px solid #bef1dc;
}
#why-use-cornerstone .img-item-3 {
  background: #dbf0ff;
  border: 1px solid #c4dff1;
}
#why-use-cornerstone .img-item-4 {
  background: #d7d9ff;
  border: 1px solid #cbcdf3;
}
#why-use-cornerstone .img-item-5 {
  background: #ebebeb;
  border: 1px solid #dddddd;
}

footer {
  background: #48494b;
  padding: 35px 32px;
  box-sizing: border-box;
  color: #d1d7e1;
  font-size: 13px;
}
footer b {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  color: #99a0ac;
}
footer .site-map {
  display: flex;
  margin-bottom: 89px;
}
footer .site-map > div {
  flex-grow: 1;
}
footer .contact li {
  display: flex;
  line-height: 1.2;
}
footer .contact i {
  width: 82px;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 20px;
  position: relative;
}
footer .contact i::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #858688;
  top: 1px;
  right: 0;
}
footer .contact-tit {
  color: #d1d7e1;
}
footer .office-info .contact-tit::after {
  display: none;
}
footer .outstation {
  margin-top: 23px;
}
footer .sns {
  display: flex;
  width: 164px;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: auto;
}
footer .sns li {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #636975;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #slide-section .swiper-slide article .user-value {
    width: 386px;
    height: 368px;
    margin-top: 42px;
  }
  #slide-section .swiper-slide article .user-value li {
    width: 170px;
    height: 170px;
    background-position: top 48px right 42px;
  }
}
@media (min-width: 998px) {
  br.pc {
    display: none;
  }
  .description h3.section-tit {
    font-size: 23px;
    background-size: auto 31px;
    height: 31px;
    line-height: 31px;
    padding-left: 40px;
  }
  .description h2 {
    font-size: 53px;
    margin-top: 37px;
    margin-bottom: 25px;
  }
  .description p {
    font-size: 23px;
    margin-bottom: 110px;
  }
  .description .more {
    font-size: 20px;
    padding: 20px 60px 20px 32px;
    background-size: 17px;
    background-position: center right 24px;
  }
  .img-container > div {
    border-radius: 56px;
  }

  #main-section {
    padding-top: 237px;
    margin-bottom: 0;
    z-index: 2;
  }
  #main-section h2 {
    font-size: 57px;
  }
  #main-section article {
    display: flex;
    flex-direction: column;
    margin-top: -49px;
  }
  #main-section article > img {
    order: 2;
    width: 90%;
    max-width: 1223px;
    margin-top: 141px;
    transform: translateY(134px);
  }

  #main-section .main-category {
    order: 1;
    transform: translateY(134px);
    flex-wrap: nowrap;
    border-radius: 100px;
    height: 176px;
    padding: 0;
  }
  #main-section .main-category li {
    flex: 1;
    border: none !important;
    position: relative;
  }
  #main-section .main-category li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 89px;
    background: #8cdddf;
  }
  #main-section .main-category li:last-of-type::after {
    display: none;
  }
  #main-section .main-category li a {
    padding-top: 120px;
    padding-bottom: 0;
  }

  #slide-section {
    max-height: 767px;
  }
  #slide-section .swiper-slide {
    padding-top: 219px;
  }
  #slide-section .swiper-slide article {
    display: flex;
    justify-content: space-between;
  }
  #slide-section .swiper-slide article h2 {
    font-size: 45px;
  }
  #slide-section .swiper-slide article .user-value {
    width: 496px;
    height: 478px;
    margin: auto;
  }
  #slide-section .swiper-slide article .user-value li {
    width: 220px;
    height: 220px;
    background-position: top 48px right 42px;
  }
  section#learning-section {
    padding: 133px calc(50% - 717px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #learning-section .img-container {
    margin-top: 0;
  }
  section#career-section {
    padding: 154px calc(50% - 717px);
    padding-bottom: 196px;
  }
  #career-section::after {
    height: 1225px;
  }
  #career-section .img-container {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    margin-top: 62px;
  }
  #career-section .img-container .img-item-1 {
    width: 850px;
    margin-right: 34px;
    height: 832px;
    flex-shrink: 0;
  }
  #career-section .img-container .img-item-1 p {
    padding: 79px 0 146px 62px;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
  #career-section .img-container .img-item-2 {
    flex-grow: 1;
    height: 832px;
  }
  #career-section .img-container .img-item-2 p {
    padding: 79px 0 114px 65px;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
  #career-section .img-container .img-item-2 img {
    width: 416px;
  }
  section#recruit-section {
    padding: 143px calc(50% - 717px);
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }
  #recruit-section .img-container {
    max-width: 1332px;
    margin-top: 93px;
    position: relative;
    z-index: 2;
    top: 30px;
  }
  #recruit-section .bg-mockup {
    display: block;
    position: absolute;
    left: 730px;
    top: 0;
    width: 775px;
    display: flex;
    justify-content: space-between;
  }
  #recruit-section .bg-mockup img {
    width: 354px;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
  }
  #recruit-section .bg-mockup img.mockup-1 {
    transform: translateY(-90px);
  }
  #recruit-section .bg-mockup img.mockup-2 {
    transform: translateY(252px);
  }
  section#management-section {
    padding: 164px calc(50% - 717px);
  }
  #management-section h2 {
    margin-top: 42px;
    margin-bottom: 62px;
  }
  #management-section .img-container {
    margin-top: 123px;
    display: grid;
    grid-template-columns: 551px 850px;
    justify-content: space-between;
  }
  #management-section .img-container .img-item-1 {
    order: 1;
    grid-row: 1 / span 1;
    height: 587px;
    font-size: 26px;
  }
  #management-section .img-container .img-item-1 p {
    padding: 76px 0 93px 65px;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
  #management-section .img-container .img-item-1 img {
    width: 416px;
  }
  #management-section .img-container .img-item-2 {
    order: 3;
    height: 214px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 31px;
    display: flex;
    align-items: center;
    font-size: 26px;
  }
  #management-section .img-container .img-item-2 p {
    max-width: none;
    padding-left: 44px;
  }
  #management-section .img-container .img-item-3 {
    order: 2;
    grid-row: 1 / span 2;
    height: 832px;
    font-size: 26px;
  }
  #management-section .img-container .img-item-3 p {
    padding: 79px 0 146px 62px;
    max-width: none;
  }
  #sub-banner {
    padding: 0;
    position: relative;
    height: 497px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sub-banner::before,
  #sub-banner::after {
    content: "";
    display: block;
    width: 447px;
    height: 447px;
    background: url(../images/sub-banner-bg-graph.svg) no-repeat 0 0 / contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -160px;
  }
  #sub-banner::after {
    left: auto;
    right: -160px;
  }
  section#why-use-cornerstone {
    padding: 90px calc(50% - 717px);
  }
  #why-use-cornerstone h2 {
    font-size: 60px;
  }
  #why-use-cornerstone .img-container {
    margin-top: 77px;
    display: grid;
    height: 2177px;
    grid-template-columns: 693px 693px;
    justify-content: space-between;
    align-content: space-between;
  }
  #why-use-cornerstone .img-container > div {
    height: auto;
    padding: 66px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #why-use-cornerstone .img-container > div i {
    font-size: 20px;
    max-width: none;
  }
  #why-use-cornerstone .img-container > div p {
    font-size: 32px;
    max-width: none;
    margin-top: 24px;
    margin-bottom: 109px;
  }
  #why-use-cornerstone .img-container > div img {
    width: 538px;
  }
  #why-use-cornerstone .img-item-3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  #why-use-cornerstone .img-item-4 {
  }
}
