br.mo {
  display: none;
}
/* section1 - main */
#main-section {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.3) 0%, rgba(11, 217, 164, 0.3) 50%, rgba(169, 217, 254, 0.3) 100%);
  background-size: 200%;
  background-position: 0 0;
  padding-top: 141px;
  position: relative;
  z-index: 1;
  margin-bottom: 51px;
  animation: gradientAni 3s infinite linear;
}
@keyframes gradientAni {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
#main-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(360deg, #ffffff 2.68%, rgba(255, 255, 255, 0) 101.51%);
  z-index: -1;
}
#main-section h2 {
  font-size: 35px;
  text-align: center;
}

#main-section h2 br {
}
#main-section article {
  margin-top: 36px;
  width: 100%;
}
#main-section .main-slide {
  display: none;
}
#main-section .main-category {
  width: 90.33%;
  max-width: 716px;
  margin: auto;
  padding: 13px 15px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 10px rgba(97, 202, 202, 0.2);
  border-radius: 38px;
  background: #ffffff;
  border: 2px solid #99e1e2;
  display: flex;
  flex-wrap: wrap;
}
#main-section .main-category li {
  flex: 1 1 40%;
}
#main-section .main-category li:nth-of-type(1),
#main-section .main-category li:nth-of-type(2) {
  border-bottom: 1px solid rgba(140, 221, 223, 0.5);
}
#main-section .main-category li:nth-of-type(1),
#main-section .main-category li:nth-of-type(3) {
  border-right: 1px solid rgba(140, 221, 223, 0.5);
}
#main-section .main-category li a {
  display: block;
  color: #393939;
  font-size: 14px;
  font-weight: 700;
  padding-top: 62px;
  padding-bottom: 11px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  background: url(../images/icons/learning-main-icon.svg) no-repeat center top 0 / auto 56px;
}
#main-section .main-category li:nth-of-type(2) a {
  background-image: url(../images/icons/career-main-icon.svg);
}
#main-section .main-category li:nth-of-type(3) a {
  background-image: url(../images/icons/recruit-main-icon.svg);
  padding-top: 74px;
  padding-bottom: 0;
  background-position: center 12px;
}
#main-section .main-category li:nth-of-type(4) a {
  background-image: url(../images/icons/management-main-icon.svg);
  padding-top: 74px;
  padding-bottom: 0;
  background-position: center 12px;
}

/* section2 - slider */
#slide-section {
  overflow: hidden;
  padding-top: 0;
}
#slide-section .swiper-wrapper {
  display: block;
}
#slide-section .swiper-slide {
  box-sizing: border-box;
  background: #fff;
}
#slide-section .swiper-slide-1 {
  background: #f2fcfc;
  padding: 57px 4.83% 40px 4.83%;
  /* 15.21 */
}
#slide-section .swiper-slide-1 article {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
#slide-section .swiper-slide-1 article h2 {
  font-size: 25px;
}
#slide-section .swiper-slide-1 article .user-value {
  width: 288px;
  height: 278px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 62px;
  margin-left: auto;
  margin-right: max(0%, 5%);
}
#slide-section .swiper-slide-1 article .user-value li {
  font-size: 12px;
  color: #717171;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #fff url("../images/icons/plus-icon.svg") no-repeat top 33px right 21px / 16px auto;
  border: 1px solid rgba(153, 225, 226, 0.5);
  box-shadow: 0px 6px 20px 8px rgba(219, 244, 247, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#slide-section .swiper-slide-1 article .user-value li:nth-of-type(2) {
  background-position: top 33px right 27px;
}
#slide-section .swiper-slide-1 article .user-value li:nth-of-type(3) {
  background-position: top 33px right 30px;
}
#slide-section .swiper-slide-1 article .user-value li:nth-of-type(4) {
  background-position: top 33px right 40px;
}
#slide-section .swiper-slide-1 article .user-value li > div {
  line-height: 1.6;
  padding-top: 15px;
}
#slide-section .swiper-slide-1 article .user-value li b {
  font-size: 30px;
  font-weight: 700;
  color: #393939;
  vertical-align: baseline;
  margin-right: 7px;
}
#slide-section .swiper-slide-1 article .user-value li p {
  font-size: 13px;
  color: #8f8f8f;
}

/* slide2 - 인사(HRM)및 교육(HRD) 전 영역의 모듈 구성 */
#slide-section .htm-container {
  padding: 53px 9.66% 40px 9.66%;
  color: #393939;
}
#slide-section .htm-container h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  line-height: 25px;
}
#slide-section .htm-container > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#slide-section .htm-container > ul .hrm-list {
  border: 1px solid #99e1e2;
  box-shadow: 0px 4px 20px rgba(219, 244, 247, 0.6);
  border-radius: 16px;
  flex: 1 1 40%;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 25px;
  box-sizing: border-box;
  margin-top: 13px;
}
#slide-section .htm-container > ul .hrm-list:nth-child(odd) {
  margin-right: 9px;
}
#slide-section .htm-container > ul .hrm-list:nth-child(even) {
  margin-left: 9px;
}
#slide-section .htm-container > ul .hrm-list .tit {
  font-size: 15px;
  font-weight: 700;
  background: url(../images/icons/hrm-icon-1.png) no-repeat center 0 / auto 17px;
  padding-top: 21px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
#slide-section .htm-container > ul .hrm-list-2 .tit {
  background-image: url(../images/icons/hrm-icon-2.png);
}
#slide-section .htm-container > ul .hrm-list-3 .tit {
  background-image: url(../images/icons/hrm-icon-3.png);
}
#slide-section .htm-container > ul .hrm-list-4 .tit {
  background-image: url(../images/icons/hrm-icon-4.png);
}
#slide-section .htm-container > ul .hrm-list-5 .tit {
  background-image: url(../images/icons/hrm-icon-5.png);
}
#slide-section .htm-container > ul .hrm-list-6 .tit {
  background-image: url(../images/icons/hrm-icon-6.png);
}
#slide-section .htm-container > ul .hrm-list-7 .tit {
  background-image: url(../images/icons/hrm-icon-7.png);
}
#slide-section .htm-container > ul .hrm-list ul {
  font-size: 13px;
  margin-top: 17px;
}
#slide-section .htm-container > ul .hrm-list ul li {
  margin-top: 8px;
}
#slide-section .htm-container > ul .hrm-list-7 {
  width: 100%;
  padding-top: 15px;
}
#slide-section .htm-container > ul .hrm-list-7 .tit {
  text-align: left;
  background-position: left 0 top 0;
  background-size: auto 23px;
  padding-top: 0;
  padding-left: 26px;
  margin-left: 21px;
  line-height: 23px;
}
#slide-section .htm-container > ul .hrm-list-7 ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 29px;
  box-sizing: border-box;
  margin-top: 16px;
}
#slide-section .htm-container > ul .hrm-list-7 ul li {
  margin-right: 8px;
}
#slide-section .advantage {
  background: #f1f1f1;
  padding: 80px 4.83% 53px 4.83%;
  color: #393939;
}

/* slide 3 - 기존 HR시스템과의 유기적 통합 운영 */
#slide-section .advantage h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}
#slide-section .advantage ul {
}
#slide-section .advantage ul li {
  background: #ffffff url(../images/icons/advantage-icon-1.svg) no-repeat left 13px center;
  border: 1px solid #99e1e2;
  box-shadow: 0px 4px 20px rgba(219, 244, 247, 0.6);
  border-radius: 7px;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 15px 15px 15px 46px;
  font-size: 14px;
  word-break: keep-all;
  line-height: 1.3;
}
#slide-section .advantage ul li:nth-of-type(2) {
  background-image: url(../images/icons/advantage-icon-2.svg);
}
#slide-section .advantage ul li:nth-of-type(3) {
  background-image: url(../images/icons/advantage-icon-3.svg);
}
#slide-section .advantage ul li:nth-of-type(4) {
  background-image: url(../images/icons/advantage-icon-4.svg);
}
#slide-section .advantage ul li:nth-of-type(5) {
  background-image: url(../images/icons/advantage-icon-5.svg);
}
#slide-section .advantage ul li:nth-of-type(6) {
  background-image: url(../images/icons/advantage-icon-6.svg);
}

/* slide 5 - 기존 HR시스템과의 유기적 통합 운영 */
#slide-section .hr-system {
  text-align: center;
  padding: 65px 2.65% 43px 2.65%;
  color: #393939;
}
#slide-section .hr-system h2 {
  font-size: 20px;
  line-height: 25px;
}
#slide-section .hr-system article {
  margin-top: 42px;
}
#slide-section .hr-system img {
  width: auto;
}
#slide-section .hr-system ul {
  margin-top: 23px;
  padding-top: 29px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#slide-section .hr-system ul::before {
  content: "";
  position: absolute;
  background: #99e1e2;
  width: 2px;
  height: 22px;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
}
#slide-section .hr-system ul::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #99e1e2;
  border-radius: 22px;
  border-bottom: none;
  width: 200px;
  height: 80%;
  z-index: -1;
}
#slide-section .hr-system ul li {
  margin-bottom: 9px;
  width: 48%;
  background: #fff;
  border: 1px solid #99e1e2;
  box-shadow: 0px 4px 20px rgba(219, 244, 247, 0.6);
  border-radius: 22px;
  padding: 25px 7.12%;
  box-sizing: border-box;
}
#slide-section .hr-system ul li h3 {
  font-size: 15px;
  font-weight: 700;
  color: #1acaa4;
  margin-bottom: 9px;
}
#slide-section .hr-system ul li p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}
#slide-section .hr-system ul li p br {
  display: none;
}

/* slide 4 - 인프라 보안 및 규정 준수 */
#slide-section .it-infra {
  padding: 47px 4.83% 56px 4.83%;
  background: #f2fcfc;
  color: #393939;
}
#slide-section .it-infra article > div {
  border: 1px solid #99e1e2;
  box-shadow: 0px 4px 20px rgba(219, 244, 247, 0.6);
  border-radius: 33px;
  background: #fff;
  padding: 35px;
}
#slide-section .it-infra article > div h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 37px;
}
#slide-section .it-infra .infra-container .point-txt-color {
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
}
#slide-section .it-infra .infra-container p {
  margin-top: 17px;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
}
#slide-section .it-infra .infra-container p em {
  display: block;
  font-size: 12px;
  margin-top: 4px;
  color: #bdbdbd;
}
#slide-section .it-infra .security {
  margin-top: 20px;
}
#slide-section .it-infra .security ul {
  width: 236px;
  height: 456px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#slide-section .it-infra .security ul li {
  text-align: center;
  color: #595959;
  font-size: 13px;
  flex: 1 1 40%;
}
#slide-section .it-infra .security ul li .img {
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
#slide-section .it-infra .security ul li .img img {
  width: auto;
}

/* 학습 */
#learning-section .img-container {
  margin: auto;
  margin-top: 67px;
  width: 82.7%;
  max-width: 507px;
  position: relative;
}
#learning-section .img-container .tool {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 7px;
  box-shadow: 0px 4px 20px rgba(26, 202, 164, 0.4);
  position: absolute;
  width: max-content;
  background: #1acaa4;
  border: 1px solid #99e1e2;
}
#learning-section .img-container .tool-1 {
  top: 36.68%;
  left: 78.07%;
}
#learning-section .img-container .tool-2 {
  top: 68.03%;
  left: 60.46%;
}
#learning-section .img-container .tool-3 {
  top: 85.05%;
  left: 68.77%;
}

/* 성과 커리어 */
#career-section {
  position: relative;
  z-index: 1;
}
#career-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 510px;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(169, 217, 254, 0) 2.01%, rgba(169, 217, 254, 0.1) 69.45%, rgba(11, 217, 164, 0.1) 100%);
  z-index: -1;
}
#career-section .description h2 {
  margin-bottom: 32px;
}
#career-section .img-container {
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 41px;
}
#career-section .img-container .img-item-1 {
  background: linear-gradient(40.46deg, #9ae6d3 10.47%, #d0fad8 94.96%);
  margin-bottom: 27px;
}
#career-section .img-container .img-item-1 p {
  border: 1px solid #b4dfc2;
  padding-bottom: 25px;
}
#career-section .img-container .img-item-2 {
  background: linear-gradient(160.84deg, #f3f3f3 -3.69%, #b0b0b0 104.15%);
  border: 1px solid #e2e2e2;
}
#career-section .img-container .img-item-2 p {
  padding-bottom: 139px;
}
#career-section .img-container .img-item-2 img {
  width: 95%;
}

/* 채용 온보딩 */
section#recruit-section {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.1) 2.01%, rgba(11, 217, 164, 0.1) 100%);
  padding-bottom: 0;
}
#recruit-section .img-container {
  margin-top: 50px;
}
#recruit-section .bg-mockup img.pc {
  display: none;
}

/* 인사운영 */
#management-section .description h2 {
  margin-bottom: 32px;
}
#management-section .img-container {
  margin-top: 42px;
}
#management-section .img-container .img-item-1 {
  background: #baf3ec;
  color: #393939;
  height: 385px;
}
#management-section .img-container .img-item-1 img {
  width: 274px;
}
#management-section .img-container .img-item-1 p {
  padding-top: 52px;
  padding-left: 44px;
  padding-bottom: 29px;
}
#management-section .img-container .img-item-2 {
  background: #777777;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 47px 0;
  margin-top: 27px;
  margin-bottom: 16px;
}
#management-section .img-container .img-item-2 p {
  padding: 0;
  display: inline-block;
  margin: auto;
  width: auto;
}
#management-section .img-container .img-item-3 {
  background: linear-gradient(30.02deg, #9c9ae6 -13.65%, #96d1ff 97.66%);
}
#management-section .img-container .img-item-3 p {
  padding-top: 34px;
  padding-bottom: 55px;
}

/* sub-banner */
#sub-banner {
  background: linear-gradient(90deg, rgba(169, 217, 254, 0.9) 2.01%, rgba(11, 217, 164, 0.9) 100%);
  font-size: 35px;
  color: #fff;
  padding: 142px 0;
  text-align: center;
}

/* 코너스톤으로 전향해야 할 */
#why-use-cornerstone h2 {
  font-size: 38px;
  line-height: 47px;
}
#why-use-cornerstone .img-container {
  margin-top: 31px;
}
#why-use-cornerstone .img-container > div {
  padding-top: 35px;
  margin-bottom: 26px;
  overflow: hidden;
}
#why-use-cornerstone .img-container > div i {
  font-size: 13px;
  color: #717171;
  display: inline-block;
  width: 100%;
  padding-left: 35px;
  text-align: left;
}
#why-use-cornerstone .img-container > div p {
  font-size: 18px;
  color: #393939;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 35px;
  margin-bottom: 40px;
  display: inline-block;
}
#why-use-cornerstone .img-container > div img {
  width: 86%;
}
#why-use-cornerstone .img-item-1 {
  background: #e0f7ee;
  border: 1px solid #bef1dc;
}
#why-use-cornerstone .img-item-2 {
  background: #f2ffd6;
  border: 1px solid #bef1dc;
}
#why-use-cornerstone .img-item-3 {
  background: #dbf0ff;
  border: 1px solid #c4dff1;
}
#why-use-cornerstone .img-container > div.img-item-3 p {
  margin-bottom: 0;
}
#why-use-cornerstone .img-container > div.img-item-3 img {
  width: 100%;
}
#why-use-cornerstone .img-item-3 img.pc {
  display: none;
}
#why-use-cornerstone .img-item-4 {
  background: #d7d9ff;
  border: 1px solid #cbcdf3;
  padding-bottom: 40px;
}
#why-use-cornerstone .img-container > div.img-item-4 img {
  width: 67%;
}
#why-use-cornerstone .img-container > div.img-item-4 p {
  margin-bottom: 0;
}
#why-use-cornerstone .img-item-5 {
  background: #ebebeb;
  border: 1px solid #dddddd;
}
#why-use-cornerstone .img-container > div.img-item-5 p {
  margin-bottom: 18px;
}
#why-use-cornerstone .img-container > div.img-item-5 img {
  width: 100%;
  transform: translateX(24px);
}

@media (min-width: 768px) {
  #inquiry-btn {
    transform: none;
    left: auto;
    right: 52px;
  }
  #inquiry {
    width: 362px;
    left: auto;
    top: auto;
    transform: none;
    right: 20px;
    bottom: 20px;
  }
  #inquiry h3 {
    padding-left: 10px;
  }
  #inquiry p {
    padding-left: 10px;
  }
  #inquiry.on {
    padding: 35px 21px 18px 21px;
  }
}
@media (min-width: 1000px) {
  br.mo {
    display: block;
  }
  .scroll-trans {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s;
  }
  .scroll-trans-delay-300 {
    transition-delay: 0.3s;
  }
  .scroll-trans.on {
    opacity: 1;
    transform: translateY(0px);
  }
  #slide-section {
    position: relative;
  }
  #slide-section {
    height: calc(100vh - 81px);
  }
  #slide-section .swiper-slide-1 article .user-value {
    width: 386px;
    height: 368px;
    margin-top: 42px;
  }
  #slide-section .swiper-slide-1 article .user-value li {
    width: 170px;
    height: 170px;
    background-position: top 48px right 42px;
  }
  .slide-pull-wrapping {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 2;
    background: transparent;
  }
  br.pc {
    display: none;
  }
  .description h3.section-tit {
    font-size: 16px;
    background-size: auto 19px;
    height: 19px;
    line-height: 19px;
    padding-left: 24px;
  }
  .description h2 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 32px;
    line-height: 50px;
  }
  .description p {
    font-size: 18px;
    margin-bottom: 57px;
    line-height: 25px;
  }
  .description .more a {
    font-size: 16px;
    padding: 15px 39px 15px 21px;
    background-size: auto 12px;
    background-position: center right 16px;
    transition: all 0.4s;
  }
  .description .more a:hover {
    background-color: #1acaa4;
    background-image: url(../images/icons/button-more-icon-wt.svg);
    box-shadow: 4px 5px 10px rgb(26 202 142 / 20%);
    color: #fff;
    transform: translateY(-5px);
  }
  .img-container > div {
    border-radius: 56px;
  }
  #inquiry-btn {
    bottom: 58px;
    right: 72px;
  }
  #inquiry {
    right: 72px;
    bottom: 58px;
  }
  #main-section {
    padding-top: 237px;
    margin-bottom: 0;
    z-index: 2;
  }
  #main-section h2 {
    font-size: 45px;
  }
  #main-section article {
    display: flex;
    flex-direction: column;
    margin-top: -49px;
    align-items: center;
  }
  /* #main-section article > img {
    max-width: 930px;
    margin-top: 128px;
    display: inline;
  } */

  #main-section .main-slide {
    width: 930px;
    margin-top: 128px;
    transform: translateY(103px);
    border: 11px solid #616161;
    border-radius: 44px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
  }
  #main-section .main-slide .swiper-wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  #main-section .main-slide .swiper-slide {
    height: max-content;
  }
  #main-section .main-slide .swiper-slide img {
  }
  #main-section .main-category {
    transform: translateY(103px);
    flex-wrap: nowrap;
    border-radius: 100px;
    height: 142px;
    padding: 0 13px;
  }
  #main-section .main-category li {
    flex: 1;
    border: none !important;
    position: relative;
  }
  #main-section .main-category li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 89px;
    background: #8cdddf;
  }
  #main-section .main-category li:last-of-type::after {
    display: none;
  }
  #main-section .main-category li a {
    padding-top: 103px;
    padding-bottom: 0;
    background-size: auto;
    background-position: top 16px center;
  }
  #main-section .main-category li:nth-of-type(3) a {
    padding-top: 103px;
    padding-bottom: 0;
  }
  #main-section .main-category li:nth-of-type(4) a {
    padding-top: 103px;
    padding-bottom: 0;
  }
  #slide-section {
    height: calc(100vh - 80px);
  }
  #slide-section .swiper-slide {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 103px;
    box-sizing: border-box;
  }
  #slide-section .swiper-slide-1 article {
    display: flex;
    justify-content: space-between;
  }
  #slide-section .swiper-slide-1 article h2 {
    font-size: 40px;
    padding-top: 50px;
  }
  #slide-section .swiper-slide-1 article .user-value {
    width: 464px;
    height: 464px;
    margin: auto;
  }
  #slide-section .swiper-slide-1 article .user-value li {
    width: 220px;
    height: 220px;
    background-position: top 65px right 55px;
    font-size: 17px;
    background-size: 20px auto;
    padding-top: 57px;
    align-items: normal;
    box-sizing: border-box;
  }
  #slide-section .swiper-slide-1 article .user-value li:nth-of-type(2) {
    background-position: top 65px right 55px;
  }
  #slide-section .swiper-slide-1 article .user-value li:nth-of-type(3) {
    background-position: top 65px right 70px;
  }
  #slide-section .swiper-slide-1 article .user-value li:nth-of-type(4) {
    background-position: top 65px right 83px;
  }
  #slide-section .swiper-slide-1 article .user-value li b {
    font-size: 40px;
    margin-right: 24px;
  }
  #slide-section .swiper-slide-1 article .user-value li p {
    font-size: 16px;
    margin-top: 20px;
  }
  #slide-section .htm-container {
    flex-direction: column;
  }
  #slide-section .htm-container h4 {
    margin-bottom: 24px;
  }
  #slide-section .htm-container h4 br {
    display: none;
  }
  #slide-section .htm-container ul {
    width: 1039px;
    display: block;
  }
  #slide-section .htm-container > ul .hrm-list {
    margin-left: 0 !important;
    margin-top: 12px;
    display: flex;
    padding: 19px 0;
  }
  #slide-section .htm-container > ul .hrm-list .tit {
    padding-left: 100px;
    background-position: center left 68px;
    line-height: 31px;
    background-size: auto 31px;
    padding-top: 0;
    margin-right: 34px;
  }
  #slide-section .htm-container > ul .hrm-list ul {
    display: flex;
    margin-top: 0;
  }
  #slide-section .htm-container > ul .hrm-list ul li {
    margin-right: 12px;
    margin-top: 0;
    line-height: 31px;
  }
  #slide-section .htm-container > ul .hrm-list-7 .tit {
    margin-left: 0;
  }
  #slide-section .htm-container > ul .hrm-list-7 ul {
    padding: 0;
  }
  #slide-section .advantage article {
    display: flex;
    align-items: flex-start;
  }
  #slide-section .advantage ul {
    width: 536px;
    flex-shrink: 0;
    margin-left: 131px;
    margin-top: 27px;
  }
  #slide-section .advantage ul li {
    font-size: 20px;
    border-radius: 16px;
    background-size: 24px auto;
    background-position: left 20px center;
    padding: 20px 35px 20px 71px;
    margin-bottom: 12px;
    background-size: 30px auto;
  }
  #slide-section .hr-system {
    flex-direction: column;
  }
  #slide-section .hr-system h2 {
    font-size: 30px;
  }
  #slide-section .hr-system h2 br {
    display: none;
  }
  #slide-section .hr-system article {
    margin-top: 44px;
  }
  #slide-section .hr-system ul {
    width: 950px;
  }
  #slide-section .hr-system ul::after {
    width: 756px;
  }
  #slide-section .hr-system ul li {
    width: max-content;
    padding: 32px 25px;
    position: relative;
    z-index: 1;
    background: #fff;
  }
  #slide-section .hr-system ul::before {
    height: 24px;
    top: -24px;
  }
  #slide-section .hr-system ul li:nth-of-type(2)::after {
    content: "";
    position: absolute;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 29px;
    background: #99e1e2;
    z-index: -1;
  }
  #slide-section .hr-system ul li:nth-of-type(3)::after {
    content: "";
    position: absolute;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 29px;
    background: #99e1e2;
    z-index: -1;
  }
  #slide-section .hr-system ul li h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  #slide-section .hr-system ul li p {
    font-size: 16px;
    line-height: 20px;
  }
  #slide-section .hr-system ul li p br {
    display: block;
  }
  #slide-section .it-infra article {
    width: 1020px;
    display: flex;
    justify-content: space-between;
  }
  #slide-section .it-infra article > div {
    box-sizing: border-box;
    height: 358px;
  }
  #slide-section .it-infra article > .infra-container {
    width: 384px;
  }
  #slide-section .it-infra article > .infra-container h2 {
    margin-bottom: 87px;
  }
  #slide-section .it-infra .security {
    width: 615px;
    margin-top: 0;
  }
  #slide-section .it-infra .security ul {
    width: 100%;
    height: 220px;
  }
  #slide-section .it-infra .security ul li {
    flex: 1 1 25%;
  }

  section#learning-section {
    padding: 104px calc(50% - 570px);
    padding-bottom: 87px;
    display: flex;
    justify-content: space-between;
  }
  #learning-section .img-container {
    margin-top: 0;
  }
  #learning-section .img-container .tool {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding: 14px 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(26, 202, 164, 0.4);
    position: absolute;
    width: max-content;
    background: #1acaa4;
    border: 1px solid #99e1e2;
  }
  #learning-section .img-container .tool-1 {
    top: 178px;
    left: 404px;
  }
  #learning-section .img-container .tool-2 {
    top: 426px;
    left: 347px;
  }
  #learning-section .img-container .tool-3 {
    top: 526px;
    left: 434px;
  }
  #learning-section .description {
    margin-top: 26px;
  }
  section#career-section {
    padding: 109px calc(50% - 570px);
    padding-bottom: 128px;
    background-image: url(../images/product-screen/career-bg.png);
    background-position: top -36px left 87%;
    background-repeat: no-repeat;
  }
  #career-section::after {
    height: 1225px;
  }
  #career-section .description h2 {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  #career-section .img-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 86px;
  }
  #career-section .img-container .img-item-1 {
    width: 674px;
    margin-right: 34px;
    flex-shrink: 0;
    height: 660px;
  }
  #career-section .img-container .img-item-1 p {
    padding: 63px 133px 75px 49px;
    border-bottom: none;
  }
  #career-section .img-container .img-item-2 {
    flex-grow: 1;
    height: 660px;
  }
  #career-section .img-container .img-item-2 p {
    padding: 63px 52px 168px 52px;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
  #career-section .img-container .img-item-2 img {
    width: 410px;
  }
  section#recruit-section {
    padding: 143px calc(50% - 570px);
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }
  #recruit-section .description h2 {
    margin-bottom: 27px;
  }
  #recruit-section .img-container {
    width: 1133px;
    margin-top: 116px;
    position: relative;
    z-index: 2;
    top: 30px;
  }
  #recruit-section .bg-mockup {
    display: block;
    position: absolute;
    left: 50%;
    top: 34px;
    margin-left: 60px;
  }
  #recruit-section .bg-mockup img.mo {
    display: none;
  }
  #recruit-section .bg-mockup img.pc {
    display: block;
  }
  section#management-section {
    padding: 164px calc(50% - 570px);
    padding-bottom: 102px;
  }
  #management-section h2 {
    margin-top: 42px;
    margin-bottom: 62px;
  }
  #management-section .img-container {
    margin-top: 123px;
    display: grid;
    grid-template-columns: 438px 676px;
    justify-content: space-between;
    font-size: 23px;
  }
  #management-section .img-container .img-item-1 {
    order: 1;
    grid-row: 1 / span 1;
    height: 467px;
  }
  #management-section .img-container .img-item-1 p {
    padding: 63px 43px 35px 43px;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
  #management-section .img-container .img-item-1 img {
    width: auto;
  }
  #management-section .img-container .img-item-2 {
    order: 3;
    height: 171px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 24px;
    display: flex;
    align-items: center;
    font-size: 23px;
  }
  #management-section .img-container .img-item-2 p {
    max-width: none;
    padding-left: 35px;
    line-height: 28px;
    margin: 0;
  }
  #management-section .img-container .img-item-3 {
    order: 2;
    grid-row: 1 / span 2;
    height: 662px;
  }
  #management-section .img-container .img-item-3 p {
    padding: 63px 50px 60px 50px;
    max-width: none;
  }
  #sub-banner {
    padding: 0;
    position: relative;
    height: 497px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sub-banner::before,
  #sub-banner::after {
    content: "";
    display: block;
    width: 447px;
    height: 447px;
    background: url(../images/product-screen/sub-banner-bg-graph.svg) no-repeat 0 0 / contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    left: -160px;
    animation: rotateBg 10s linear infinite;
  }
  @keyframes rotateBg {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateY(-50%) rotate(360deg);
    }
  }
  #sub-banner::after {
    left: auto;
    right: -160px;
  }
  section#why-use-cornerstone {
    padding: 169px calc(50% - 570px);
    padding-bottom: 112px;
  }
  #why-use-cornerstone h2 {
    font-size: 50px;
    line-height: 62px;
  }
  #why-use-cornerstone .img-container {
    margin-top: 74px;
    display: grid;
    height: 1720px;
    grid-template-columns: 548px 548px;
    justify-content: space-between;
    align-content: space-between;
  }
  #why-use-cornerstone .img-container > div {
    height: 537px;
    padding-top: 52px;
    margin-bottom: 50px;
  }
  #why-use-cornerstone .img-container > div img {
    width: auto;
  }
  #why-use-cornerstone .img-container > div i {
    font-size: 16px;
    max-width: none;
    padding-left: 52px;
  }
  #why-use-cornerstone .img-container > div p {
    font-size: 22px;
    max-width: none;
    margin-top: 21px;
    margin-bottom: 53px;
    padding-left: 52px;
    line-height: 30px;
  }
  #why-use-cornerstone .img-container > div.img-item-2 p {
    margin-bottom: 0;
  }
  #why-use-cornerstone .img-container > div.img-item-3 p {
    margin-bottom: 68px;
  }
  #why-use-cornerstone .img-container > div.img-item-4 p {
    margin-bottom: 0;
  }
  #why-use-cornerstone .img-container > div.img-item-5 p {
    margin-bottom: 28px;
  }
  #why-use-cornerstone .img-container > div.img-item-5 img {
    margin-left: 10px;
  }
  #why-use-cornerstone .img-container > div.img-item-3 img {
    width: 95%;
    margin: auto;
  }
  #why-use-cornerstone .img-container > div.img-item-4 img {
    width: 57%;
  }
  #why-use-cornerstone .img-container > div.img-item-5 img {
    width: auto;
  }
  #why-use-cornerstone .img-item-3 img.pc {
    display: block;
  }
  #why-use-cornerstone .img-item-3 img.mo {
    display: none;
  }
  #why-use-cornerstone .img-item-3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
}
